* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(168, 216, 153);
}

.input-box {
    background-color: rgb(240, 248, 255);
    border: 1px solid black;
    border-radius: 20px;
    height: 600px;
    margin: auto;
    padding: 0;
    max-width: 400px;
    box-shadow: 5px 5px 5px 2px gray ;
}

.input-one {
    height: 200px;
    margin: 0;
    padding: 10px;
}

.input-two {
    height: 200px;
    margin: 0;
    padding: 10px;
}

.input-three {
    height: 200px;
    margin: 0;
    padding: 10px;
}

.nav-bar-ul {
    border-radius: 5px 5px 15px 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51, 51, 51);
}

.nav-bar-li {
    float: left;
    border-right: 1px solid aliceblue;
}

.nav-bar-li-a {
    display: block;
    color:aliceblue;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
    font-weight: bold;
}

div {

    margin: 5px;
    padding: 5px;
    text-align: center;
}

h1 {
    color: rgb(240, 248, 255);
    font-size: 3rem;
    text-shadow: 2px 2px 2px gray;
}

h2 {
    color: rgb(240, 248, 255);
}