* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(106, 211, 162);
}

.input-box {
    background-color: rgb(240, 248, 255);
    border: 1px solid black;
    border-radius: 20px;
    height: 600px;
    margin: auto;
    padding: 10px 30px;
    max-width: 400px;
    box-shadow: 5px 5px 5px 2px gray ;
}

.input-one {
    height: 150px;
    margin: 10px;
    padding: 10px;
    text-align: left;
}

.input-two {
    height: 150px;
    margin: 10px;
    padding: 10px;
    text-align: left;
}

.input-three {
    height: 150px;
    margin: 10px;
    padding: 10px;
    text-align: left;
}

.input-button {
    width: 300px;
    height: 50px;
    border-radius: 15px;
    margin: auto;
    background-color: gold;
    font-size: 20px;
    border: 0;
}

.letter-input-box {
    border-radius: 4px;
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size:36px;
    text-align: center;
    margin: 10px 0;
    border: 1px solid black;
}

.excluded-input-box {
    border-radius: 4px;
    display: inline-block;
    width: 300px;
    height: 50px;
    font-size:36px;
    text-align: center;
    margin: 10px 0;
    border: 1px solid black;
}

.nav-bar-ul {
    border-radius: 0px 0px 15px 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51, 51, 51);
}

.nav-bar-li {
    float: left;
    border-right: 1px solid aliceblue;
}

.nav-bar-li-a {
    display: block;
    color:aliceblue;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
    font-weight: bold;
}

div {
    text-align: center;
}

h1 {
    color: rgb(240, 248, 255);
    font-size: 3rem;
    text-shadow: 2px 2px 2px gray;
}

h2 {
    color: rgb(240, 248, 255);
}